.manikin-painting{
  width: 126px;
  height: 126px;

  @include media('>=tablet') {
    width: 149px;
    height: 149px;
  }

  @include media('>=desktop') {
    width: 194px;
    height: 194px;
  }
}

.manikin-music{
  width: 103px;
  height: 103px;

  @include media('>=tablet') {
    width: 122px;
    height: 122px;
  }

  @include media('>=desktop') {
    width: 160px;
    height: 160px;
  }
}

.manikin-gardening {
  width: 148px;
  height: 148px;

  @include media('>=desktop') {
    width: 193px;
    height: 193px;
  }
}

.manikin-collecting {
  width: 120px;
  height: 128px;

  @include media('>=desktop') {
    width: 230px;
    height: 230px;
  }
}

.mainikin-exciting {
  width: 116px;
  height: 116px;
}

.mainikin-meeting {
  width: 260px;
  height: 260px;
}